In [1]:
import pandas as pd
import os
import numpy as np

In [7]:
mri = pd.read_csv('../v5.csv', dtype='object')
triage = pd.read_csv('../triage_gt.csv', dtype='object')
triage.ID = triage.ID.apply(lambda x: "%04d"%int(x))

In [5]:
mri.head()

     ID GT
0  0001  0
1  0002  0
2  0003  1
3  0004  1
4  0005  0

In [8]:
triage.head()

     ID Triage GT
0  0003    NaN  1
1  0004      1  1
2  0005      1  0
3  0006      0  0
4  0007      1  1

In [9]:
mri.shape, triage.shape

((305, 2), (304, 3))

In [10]:
filtered_df = triage.dropna(ignore_index=True)
filtered_df

       ID Triage GT
0    0004      1  1
1    0005      1  0
2    0006      0  0
3    0007      1  1
4    0008      0  0
..    ...    ... ..
255  0307      0  1
256  0308      0  0
257  0309      0  1
258  0310      1  0
259  0311      0  0

[260 rows x 3 columns]

In [ ]:
pos = []
neg = []

for _, row in df.iterrows():
    tri_tmp=row['Triage']
    gt_tmp = row['GT']
    if row['ID'] in ['0018','0147','0193','0119','0259','0274','0188','0058','0036','0078','0283','0239']:
        continue
    if (tri_tmp=='0') & (pd.notnull(gt_tmp)):
        neg.append(row['ID'])
    if (tri_tmp=='1') & (pd.notnull(gt_tmp)):
        pos.append(row['ID'])

totallist = []
totallist.append([j for j in pos if int(j) < 196])
totallist.append([j for j in pos if (int(j) >= 196 and int(j) < 237)])
totallist.append([j for j in pos if int(j) >= 237 and int(j) < 296])
totallist.append([j for j in neg if int(j) < 196])
totallist.append([j for j in neg if (int(j) >= 196 and int(j) < 237)])
totallist.append([j for j in neg if int(j) >= 237 and int(j) < 296])